# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Notebooks
.ipynb_checkpoints/
*.ipynb

# Environments
.venv/
venv/
env/
ENV/
*.env

# Jupyter runtime
~/.local/share/jupyter/runtime

# Logs and Outputs
*.log
*.out
*.err
*.bak
*.tmp
*.swp
*.DS_Store

# Data dump folders
data/
datasets/
output/
checkpoints/

# Airflow
airflow.db
airflow.cfg
unittests.cfg
logs/
.dags/
*.airflow

# Spark
.metastore_db/
spark-warehouse/

# Docker
*.pid
*.pid.lock
*.sock
.dockerignore
docker-compose.override.yml

# VSCode
.vscode/
.code-workspace

# JetBrains IDEs
.idea/

# Mac/Linux/Windows OS junk
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Library
*/lib/
*.jar

